*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:'Spongeboy';
    src: url('../Spongeboy\ Me\ Bob.ttf') format('truetype');
    font-weight: normal;
    font-style: normal  ;
}

.flex{
    display: flex;
}

body{
    background-image: url(../png/fundo-fenda.avif);
    backdrop-filter: blur(5px); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.box {
    height: 700px;
    width: 600px;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    background: #0e3c48b9;
    border-radius: 10px;
}

h1{
    font-family:'Spongeboy' ;
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}

h3{
    margin-top: 20px;
    font-family:'Spongeboy' ;
    font-size: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

.titulo-spongebob{
    margin: auto;
    display: block;
    height: 250px;
    width: 500px;
}

#btn-audio{
    background-color: #0e3c4800;
    border: none;
}

#btn-audio i{
    color: #fff;
    font-size: 30px;
    position: relative;
    top: 175px;
    left: 530px;
    cursor: pointer;
}

.btn-back{
    background-color: #0e3c4800;
    border: none;
}

.btn-back i{
    color: #fff;
    font-size: 30px;
    position: relative;
    left: 10px;
    top: 175px;
    cursor: pointer;
}

a{
    text-decoration: none;
}


